<!doctype html>
<html lang="en" ng-app="hotelsResultsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/images/favicon.ico" />

    <title>Almundo - Resultados</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="/css/results.css"/>
    <link rel="stylesheet" href="/css/name-filter.css"/>
    <link rel="stylesheet" href="/css/nav.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
</head>
<body>

    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/" target="_self">
                    <img data-ng-src="https://images.almundo.com/205/image/upload/v1474984918/static/components/logo-almundo.svg" alt="Almundo.com vacaciones en serio" class="brand-logo" src="https://images.almundo.com/205/image/upload/v1474984918/static/components/logo-almundo.svg">
                </a>
            </div>
        </div>
    </header>
    <nav></nav>

    <div class="container">
        {{{body}}}
    </div>
    <footer>

    </footer>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/js/all.js"></script>

    <script>
        window.token = "{{token}}";
    </script>

</body>
</html>