<div class="row" ng-controller="HotelController as hotelCtrl" ng-init="hotelCtrl.init()">
    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 filters">
        <name-filter></name-filter>
    </div>
    <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 clusters">
        <div ng-repeat="hotel in hotels">
            <cluster hotel="hotel"></cluster>
        </div>
    </div>
</div>