<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 filters">
        <ul>
            <li>5</li>
            <li>4</li>
            <li>3</li>
            <li>2</li>
            <li>1</li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 clusters">
        <cluster></cluster>
    </div>
</div>